<div class="sideBar">
    <div class="menu">
        <p>MENU</p>
        <p><a routerLink="/home" routerLinkActive="active"><i class="fa-solid fa-house"></i> Home</a></p>
        <p><a routerLink="/fav" routerLinkActive="active"><i class="fa-solid fa-heart"></i> Favourites</a></p>
        <p class="settings">SETTINGS</p>
        <p><a routerLink="#" routerLinkActive="active"><i class="fa-solid fa-circle-user"></i> My Account</a></p>
        <p><a routerLink="##" routerLinkActive="active"><i class="fa-solid fa-paintbrush"></i> Preferences</a></p>
    </div>
    <div id="ver">
        <img src="../../assets/logo.png" alt=""><br>
        V1.0 - December 2023
    </div>
</div>
